[Unit]
Description=servicio para iniciar servidor xroad_log

[Service]
Type=simple
ExecStart=/usr/local/bin/node /var/www/restapi/restapi/servidor.js
WorkingDirectory=/var/www/restapi/restapi

User=nobody
Group=nogroup

# Environment variables:
Environment=NODE_ENV=production

# Allow many incoming connections
LimitNOFILE=infinity

# Allow core dumps for debugging
LimitCORE=infinity

StandardInput=null
StandardOutput=syslog
StandardError=syslog
Restart=always

[Install]
WantedBy=multi-user.target